/**
 * Copyright 2026 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@import './styles/base.css';
@import './styles/sidebar.css';
@import './styles/chat.css';
@import './styles/plan.css';
@import './styles/tools.css';